/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7faf9;
    color: #1d2b36;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* NAVBAR */

.navbar {
    background: #fff;
    padding: 18px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    width: 160px;
}

.nav-item {
    transition: 0.3s;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-link {
    color: #1d2b36;
    margin: 0 10px;
    font-weight: 500;
}

.Ajuda {
    color: red;
}

/* HERO */

.hero {
    padding: 80px 0;
}

.hero h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
}

.hero span {
    color: #f7bb3b;
}

.hero p {
    margin-top: 20px;
    font-size: 18px;
    color: #5b6770;
    max-width: 500px;
}

.hero-image {
    background: #dff5ef;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
}

.hero-image video {
    width: 100%;
    max-width: 420px;
    transition: 1s;
}

.hero-image:hover video {
    transform: scale(1.5);
}

/* SEARCH */

.search-box {
    background: #46fc46;
    padding: 18px 24px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    margin-top: 5vh;
}

.search-box i {
    margin-right: 10px;
}

.search-box form {
    width: 100%;
    display: flex;
    gap: 10px;
}

.search-box input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
}

/* TITULOS */

.section-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 700;
}

/* CARDS */

.card-custom {
    background: white;
    border-radius: 24px;
    padding: 35px;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
}

.card-custom:hover {
    transform: translateY(-8px);
}

/* ICONES */

.card-icon,
.card-icon1,
.card-icon2,
.card-icon3 {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 32px;
}

.card-icon {
    background: #c3ecc2;
    color: #15b906;
}

.card-icon1 {
    background: #f8a4a4;
    color: #fc1a1a;
}

.card-icon2 {
    background: #b4c9f0;
    color: #0c81ee;
}

.card-icon3 {
    background: #f1f1d5;
    color: #b4a801;
}

/* STEPS */

.steps {
    margin-top: 80px;
}

.step-box {
    text-align: center;
    padding: 20px;
}

.step-number,
.step-number1,
.step-number2,
.step-number3 {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 700;
}

.step-number {
    background: #9AE8D5;
}

.step-number1 {
    background: #F1AAB8;
}

.step-number2 {
    background: #CCA89F;
}

.step-number3 {
    background: #DEB4EC;
}

.step-box .i1 {
    color: #9AE8D5;
    font-size: 45px;
    margin-bottom: 20px;
}

.step-box .i2 {
    color: #F1AAB8;
    font-size: 45px;
    margin-bottom: 20px;
}

.step-box .i3 {
    color: #CCA89F;
    font-size: 45px;
    margin-bottom: 20px;
}

.step-box .i4 {
    color: #DEB4EC;
    font-size: 45px;
    margin-bottom: 20px;
}

/* FRASES */

.phrases {
    margin-top: 90px;
}

.phrase-card {
    background: rgb(222, 225, 240);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
}

.phrase-card h5 {
    font-weight: 600;
}

.phrase-card button {
    margin-top: 15px;
    border: none;
    background: #8da5f3;
    color: white;
    padding: 10px 18px;
    border-radius: 12px;
}

/* FOOTER */

footer {
    margin-top: 100px;
    background: #ffffff;
    padding: 50px 0;
}

footer p {
    opacity: 0.9;
}

/* CENTRALIZA OS ICONES */

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ICONES */

.social i {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.social .fa-youtube:hover {
    color: #ee4949;
    transform: scale(1.2);
}

.social .fa-instagram:hover {
    color: #ff01aa;
    transform: scale(1.2);
}

.social .fa-tiktok:hover {
    color: #d3059f;
    transform: scale(1.2);
}


/* CELULAR */

@media (max-width: 576px) {

    .navbar-brand img {
        width: 120px;
    }

    .hero {
        text-align: center;
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
        margin: auto;
    }

    /*SEARCH */
    .search-box {
        width: 95%;
        flex-direction: row;
    }

    .search-box form {
        flex-direction: row;
    }

    .search-box input {
        flex: 1;
    }

    .search-box button {
        white-space: nowrap;
    }

    .section-title {
        font-size: 28px;
    }

    footer .row {
        text-align: center;
    }

    .social {
        margin-top: 20px;
    }
}

/* TABLET */

@media (min-width: 577px) and (max-width: 991px) {

    .hero {
        text-align: center;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero-image {
        margin-top: 40px;
    }

    .search-box {
        width: 90%;
    }
}

/*  DESKTOP */

@media (min-width: 992px) and (max-width: 1400px) {

    .hero h1 {
        font-size: 56px;
    }

    .search-box {
        width: 70%;
    }
}

/* 📺 TV */

@media (min-width: 1401px) {

    .hero {
        padding: 120px 0;
    }

    .hero h1 {
        font-size: 80px;
    }

    .hero p {
        font-size: 22px;
    }

    .section-title {
        font-size: 56px;
    }

    .search-box {
        width: 60%;
        padding: 25px;
    }

    .card-custom {
        padding: 50px;
    }
}